.content {
  margin-top: 80px;
  padding-bottom: 200px;
}

.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

.content h2 {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 36px;
  line-height: 30px;
}

.page-title {
  position: relative;
  top: -700px;
  text-align: center;
  font-family: sacramento;
  font-size: 80px;
}
