@import url("https://fonts.googleapis.com/css?family=Quicksand:500|Just+Another+Hand|Sacramento");
@import url('https://fonts.googleapis.com/css?family=Unica+One|Vollkorn');

$ff-ss: 'Unica One';
$ff-s: 'Vollkorn';

$clr-black: rgba(black, 1);
$clr-gray: rgba(black, .7);
$clr-yellow: #fcf594;
$clr-form-blue: #006194;