{{ define "main" }}
{{ partial "header.html" .Params.header }}



<section class="sec1"><h1 class="page-title">Gabija Montvydait&#279.</h1></section>     


<section class="container">
  <h2>{{ .Params.section.heading}}</h2>
  {{ $sectionBodyMarkdown := .Params.section.body | markdownify }}
  {{ if not ( strings.Contains $sectionBodyMarkdown "<p>" ) }}<p>{{ $sectionBodyMarkdown }}</p>{{ else }}{{ $sectionBodyMarkdown }}{{ end }}</p>
</section>

<section class="home_cards">
  <a href="/about/" class="card">
    <img src="//unsplash.it/500/500" alt="" class="card__img">
    <div class="card__text">
        <h3 class="card__title">About</h3>
        <p class="card__body">And here is some text</p>
    </div>
  </a>
  <a href="/blog-posts/" class="card">
    <img src="//unsplash.it/500/501" alt="" class="card__img">
    <div class="card__text">
        <h3 class="card__title">Blog</h3>
        <p class="card__body">And here is some text</p>
    </div>
  </a>
  <a href="/about/" class="card">
    <img src="//unsplash.it/501/500" alt="" class="card__img">
    <div class="card__text">
        <h3 class="card__title">Something else</h3>
        <p class="card__body">And here is some text</p>
    </div>
  </a>
</section>
<h1>Contact me</h1>
<p>Have a question about something you've seen? Why don't you ask?</p>

<div id="contact-container">
  <form action="mailto:ggabija101@gmail.com" class="contact-form">
    <div class="form-item">
      <input type="text" class="form-input" placeholder="first name" aria-label="first name">
    </div>
    <div class="form-item">
      <input type="email" class="form-input" placeholder="email address" aria-label="email address">
    </div>
    <div class="form-item">
      <textarea name="comment" class="form-input" placeholder="message" aria-label="message"></textarea>
    </div>
    <button class="form-button" type="submit">Submit</button>
  </form>
</div>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ partial "footer.html" .Params.footer }}

{{ end }}


